body {
  background-color: black;
  color: white;
}
header {
  position: fixed;
  background-color: black;
  padding: 10px 0px;
  width: 100%;
}
.fixed{
  position: fixed;
  margin-left:720px;
  margin-top: 25px;
  padding: 7px;
}
header h1 {
  color: red;
}
header a {
  color: gray;
  padding: 10px;
}
.Poster {
  margin: 10px 0px 10px 20px;
}
.row {
  padding: 10px 5px;
  display: flex;
  height: auto;
  width: 98%;
  overflow-y: auto;
  margin-bottom: 20px;
}
.line {
  margin: 30px;
}
a {
  text-decoration: none;
  font-size: 25px;
}
header img {
  margin-bottom: -10px;
}
.movieinfo {
  background: rgb(40, 40, 40);
  padding: 20px;
  padding-bottom: 500px;
  margin: 30px 50px;
}
.infoimg {
  float: left;
  padding-right: 20px;
}
.infos {
  padding-top: 1px;
}
.genre-title{
  color: white;
  font-size: 35px;
  margin: 40px;
}
