body {
  background-color: black;
  color: white;
}
header {
  padding: 0px 10px 2px;
  margin: 0px 0px 5px 0px;
}
header h1 {
  color: red;
}
header a {
  color: gray;
  padding: 10px;
}
.CardComp {
  margin: 10px 0px 10px 20px;
}
.rows {
  margin-top: 100px;
  padding: 10px 5px;
  display: flex;
  height: auto;
  width: 98%;
  overflow-y: auto;
}
.line {
  margin: 30px;
}
a {
  text-decoration: none;
  font-size: 25px;
}
header img {
margin-bottom: -10px;
}
